<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>http://avatar.csdn.net/6/8/B/1_chenyong05314.jpg</string>
	<string>http://img.1985t.com/uploads/previews/2016/05/0-iNH5Q3Q.jpg</string>
	<string>http://img.1985t.com/uploads/previews/2016/05/0-9geS9kH.jpg</string>
	<string>http://img.1985t.com/uploads/previews/2016/05/0-dZGB3l7.jpg</string>
	<string>http://img.1985t.com/uploads/previews/2016/05/0-qLTGuvj.jpg</string>
	<string>http://img.1985t.com/uploads/previews/2016/05/0-TR6AO6E.jpg</string>
	<string>http://img.1985t.com/uploads/previews/2016/05/0-kATQyoA.jpg</string>
	<string>http://img.1985t.com/uploads/previews/2016/05/0-SVx2YT8.jpg</string>
	<string>http://img.1985t.com/uploads/previews/2016/05/0-HSvXjyU.jpg</string>
	<string>http://img.1985t.com/uploads/previews/2016/05/0-iDUrJDf.jpg</string>
	<string>http://img.1985t.com/uploads/previews/2016/05/0-OcDMPrY.jpg</string>
	<string>http://img.1985t.com/uploads/previews/2016/05/0-x2rvGeM.jpg</string>
	<string>http://img.1985t.com/uploads/previews/2016/05/0-4UoYdEf.jpg</string>
	<string>http://img.1985t.com/uploads/previews/2016/05/0-SoWXCKc.jpg</string>
	<string>http://img.1985t.com/uploads/previews/2016/05/0-LZqOqD7.jpg</string>
	<string>http://img.1985t.com/uploads/previews/2016/05/0-iTy6E4Z.jpg</string>
	<string>http://img.1985t.com/uploads/previews/2016/05/0-YFjFZBe.jpg</string>
	<string>http://img.1985t.com/uploads/previews/2016/05/0-I2wcZEK.jpg</string>
	<string>http://img.1985t.com/uploads/previews/2016/05/0-zvWu2Me.jpg</string>
	<string>http://img.1985t.com/uploads/previews/2016/05/0-2rnYZFt.jpg</string>
	<string>http://img.1985t.com/uploads/previews/2016/05/0-PgUujFm.jpg</string>
	<string>http://img.1985t.com/uploads/previews/2016/05/0-KkHMPLF.jpg</string>
</array>
</plist>
