<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
		<string>010.png</string>
        <string>011.png</string>
        <string>012.png</string>
        <string>013.png</string>
        <string>014.png</string>
        <string>015.png</string>
        <string>016.png</string>
        <string>017.png</string>
        <string>018.png</string>
    </array>
</plist>
